/* Love Letter */

.love-letter{
    width:420px;
    max-width:90%;
    background:#fffdf7;
    color:#333;
    padding:40px;
    border-radius:12px;
    box-shadow:0 15px 40px rgba(0,0,0,.4);
    text-align:center;
    opacity:0;
    transform:translateY(100px) scale(.8);
    transition:1s;
    background-image:
    repeating-linear-gradient(
    white 0px,
    white 28px,
    #f4f4f4 29px);
}

.stage.opened .love-letter{
    opacity:1;
    transform:translateY(0) scale(1);
}

.letter-top{
    font-size:55px;
    margin-bottom:15px;
}

.love-letter h1{
    color:#e91e63;
    font-size:34px;
    font-family:'Dancing Script',cursive;
}

.love-letter p{
    font-size:18px;
    line-height:1.8;
    margin:18px 0;
    font-family:'Cormorant Garamond',serif;
}

.love-letter h2{
    color:#ff4081;
    margin-top:25px;
}

.signature{
    margin-top:30px;
    font-size:26px;
    font-family:'Dancing Script',cursive;
}

.signature span{
    color:red;
    font-size:34px;
}
.reveal{
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}

.stage.opened .reveal{
    opacity:1;
    transform:translateY(0);
}
